In [7]:
import pandas as pd
import numpy as np

In [8]:
# Cargar el conjunto de datos
# df = pd.read_csv('tu_archivo.csv')
df = pd.read_csv('ShoelandDB.csv')

In [9]:
# Revisión Preliminar de todos los campos
print("Revisión Preliminar de todos los campos:")
print(df.info())

Revisión Preliminar de todos los campos:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6759 entries, 0 to 6758
Data columns (total 20 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ticket           6759 non-null   int64
 1   item             6759 non-null   int64
 2   id_producto      6759 non-null   object
 3   producto         6759 non-null   object
 4   fecha_venta      6759 non-null   object
 5   cantidad         6759 non-null   int64
 6   id_tamaño        6759 non-null   object
 7   tamaño           6759 non-null   object
 8   precio_unitario  6759 non-null   int64
 9   costo_unitario   6759 non-null   int64
 10  tipo_calzado     6759 non-null   object
 11  id_local         6759 non-null   int64
 12  local            6759 non-null   object
 13  tipo_local       6759 non-null   object
 14  id_ciudad        6759 non-null   object
 15  ciudad           6759 non-null   object
 16  total_venta      6759 non-null   int64
 17  total_costo      6759 non-null   int64
 18  año              6759 non-null   int64
 19  mes              6759 non-null   object
dtypes: int64(9), object(11)
memory usage: 1.0+ MB
None

In [11]:
# Mostrar primeros y últimos registros
print("\nPrimeros registros:")
print(df.head())
print("\nÚltimos registros:")
print(df.tail())

Primeros registros:
   ticket  item id_producto        producto fecha_venta  cantidad id_tamaño  \
0   10633     1        C001  COMFORT VERONA  07/01/2020         1       22M
1   11031     1        C001  COMFORT VERONA  11/01/2020         1       22M
2   11129     1        C001  COMFORT VERONA  12/01/2020         1       22M
3   11794     1        C001  COMFORT VERONA  18/01/2020         1       24N
4   15046     1        C001  COMFORT VERONA  20/02/2020         1       18M

       tamaño  precio_unitario  costo_unitario tipo_calzado  id_local  \
0  22 Y MEDIO             1311             393    CABALLERO        11
1  22 Y MEDIO             1311             393    CABALLERO        17
2  22 Y MEDIO             1311             393    CABALLERO        16
3   24 NORMAL             1311             393    CABALLERO        16
4  18 Y MEDIO             1311             393    CABALLERO        16

          local tipo_local id_ciudad            ciudad  total_venta  \
0        ARAGON    POPULAR       CMX  CIUDAD DE MÉXICO         1311
1  CRUZ DEL SUR    POPULAR       PUE            PUEBLA         1311
2   TLAQUEPAQUE    POPULAR       GDL       GUADALAJARA         1311
3   TLAQUEPAQUE    POPULAR       GDL       GUADALAJARA         1311
4   TLAQUEPAQUE    POPULAR       GDL       GUADALAJARA         1311

   total_costo   año     mes
0          393  2020  01-ene
1          393  2020  01-ene
2          393  2020  01-ene
3          393  2020  01-ene
4          393  2020  02-feb

Últimos registros:
      ticket  item id_producto      producto fecha_venta  cantidad id_tamaño  \
6754   89454     1        U002  MINIMAL ECHO  08/12/2021         1       28M
6755   89792     1        U002  MINIMAL ECHO  12/12/2021         1       27M
6756   89944     1        U002  MINIMAL ECHO  13/12/2021         1       30M
6757   98031     1        U002  MINIMAL ECHO  24/12/2021         1       18M
6758   90729     1        U002  MINIMAL ECHO  28/12/2021         1       18M

          tamaño  precio_unitario  costo_unitario tipo_calzado  id_local  \
6754  28 Y MEDIO             1069             460       UNISEX         7
6755  27 Y MEDIO             1069             460       UNISEX        15
6756  30 Y MEDIO             1069             460       UNISEX        14
6757  18 Y MEDIO             1069             460       UNISEX        15
6758  18 Y MEDIO             1069             460       UNISEX        19

             local tipo_local id_ciudad            ciudad  total_venta  \
6754   UNIVERSIDAD   ESTÁNDAR       CMX  CIUDAD DE MÉXICO         1069
6755  CENTRO MAGNO   ESTÁNDAR       GDL       GUADALAJARA         1069
6756      PABELLON   ESTÁNDAR       GDL       GUADALAJARA         1069
6757  CENTRO MAGNO   ESTÁNDAR       GDL       GUADALAJARA         1069
6758   ANGELOPOLIS   ESTÁNDAR       PUE            PUEBLA         1069

      total_costo   año     mes
6754          460  2021  12-dic
6755          460  2021  12-dic
6756          460  2021  12-dic
6757          460  2021  12-dic
6758          460  2021  12-dic

In [12]:
# Revisión Preliminar de datos ausentes
print("\nRevisión Preliminar de datos ausentes:")
print(df.isnull().sum())

Revisión Preliminar de datos ausentes:
ticket             0
item               0
id_producto        0
producto           0
fecha_venta        0
cantidad           0
id_tamaño          0
tamaño             0
precio_unitario    0
costo_unitario     0
tipo_calzado       0
id_local           0
local              0
tipo_local         0
id_ciudad          0
ciudad             0
total_venta        0
total_costo        0
año                0
mes                0
dtype: int64

In [ ]:
# Eliminación de Columnas y registros no requeridos
# (Sustituye 'columnas_no_deseadas' y 'condición' con tus propios criterios)
columnas_no_deseadas = ['mes', 'año']
df = df.drop(columns=columnas_no_deseadas)
# df = df[df['condición']]

###CHECAR###

In [17]:
# Código de Estandarización de Nombres
# (Sustituye 'nombres_estandarizados' con tus propios criterios)
df = df.rename(columns={'fecha_venta': 'fecha'})
df.head()

,ticket,item,id_producto,producto,fecha,cantidad,id_tamaño,tamaño,precio_unitario,costo_unitario,tipo_calzado,id_local,local,tipo_local,id_ciudad,ciudad,total_venta,total_costo
0,10633,1,C001,COMFORT VERONA,07/01/2020,1,22M,22 Y MEDIO,1311,393,CABALLERO,11,ARAGON,POPULAR,CMX,CIUDAD DE MÉXICO,1311,393
1,11031,1,C001,COMFORT VERONA,11/01/2020,1,22M,22 Y MEDIO,1311,393,CABALLERO,17,CRUZ DEL SUR,POPULAR,PUE,PUEBLA,1311,393
2,11129,1,C001,COMFORT VERONA,12/01/2020,1,22M,22 Y MEDIO,1311,393,CABALLERO,16,TLAQUEPAQUE,POPULAR,GDL,GUADALAJARA,1311,393
3,11794,1,C001,COMFORT VERONA,18/01/2020,1,24N,24 NORMAL,1311,393,CABALLERO,16,TLAQUEPAQUE,POPULAR,GDL,GUADALAJARA,1311,393
4,15046,1,C001,COMFORT VERONA,20/02/2020,1,18M,18 Y MEDIO,1311,393,CABALLERO,16,TLAQUEPAQUE,POPULAR,GDL,GUADALAJARA,1311,393

In [18]:
##NO SE NECESITA PERO QUI ESTA :D##
# Tratar Ausentes
# (Sustituye 'valor_reemplazo' con el valor que desees utilizar para llenar los valores ausentes)
df = df.fillna("Empty")

In [19]:
# Generar muestra estadística
print("\nMuestra Estadística:")
print(df.describe())

Muestra Estadística:
             ticket         item     cantidad  precio_unitario  \
count   6759.000000  6759.000000  6759.000000      6759.000000
mean   52276.246634     1.032697     1.010061      1444.123391
std    23884.878106     0.195304     0.121227       336.875248
min    10004.000000     1.000000     1.000000       801.000000
25%    31354.500000     1.000000     1.000000      1153.000000
50%    53481.000000     1.000000     1.000000      1448.000000
75%    72572.000000     1.000000     1.000000      1681.000000
max    98979.000000     4.000000     4.000000      2102.000000

       costo_unitario     id_local  total_venta  total_costo
count     6759.000000  6759.000000  6759.000000  6759.000000
mean       410.119692    10.026779  1458.219411   414.206391
std         25.479469     5.483600   381.665233    55.323252
min        380.000000     1.000000   801.000000   380.000000
25%        388.000000     5.000000  1153.000000   388.000000
50%        396.000000    10.000000  1448.000000   396.000000
75%        424.000000    15.000000  1738.000000   424.000000
max        460.000000    19.000000  6099.000000  1548.000000

In [ ]:
# Guardar en CSV
df.to_csv('DB_PIA_FINAL.csv', index=False)